/* ===== FOOTER ===== */
.footer {
  background-color: #34495e;
  color: #ecf0f1;
  text-align: center;
  padding: 2rem 1.5rem;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #7f8c8d;
  margin-top: auto; /* Faz o footer ficar na parte inferior */
}

.footer_title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #ecf0f1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer_links {
  margin-bottom: 1.5rem;
}

.footer_links a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: 400;
  margin: 0 1rem;
  font-size: 0.9rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer_links a:hover {
  color: #3498db;
  transform: translateY(-1px);
}

.footer_social {
  margin-bottom: 1.5rem;
}

.footer_social a {
  font-size: 1.8rem;
  color: #ecf0f1;
  margin: 0 1rem;
  transition: color 0.3s ease, transform 0.
}