/* home.css */
body {
    background-color: #F4F6F4; 
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #090A0C;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px; 
}

.container-home {
    max-width: 1000px; /* Aumentando o tamanho do container */
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: #090A0C; /* Agora o título está em preto */
    margin-bottom: 20px;
    text-align: center;
}

/* Cabeçalho da tabela */
.table-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    background-color: #1c3d61; 
    color: #FFFFFF;
    font-weight: bold;
    text-align: center; /* Centralizando os títulos */
    border-radius: 8px;
    margin-bottom: 10px;
}

.col-header {
    padding: 10px;
}

/* Ajustes para as células de dados */
.table {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.lista {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 10px;
    text-align: center; /* Centralizando as informações */
}

.lista .col1 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.lista span {
    display: block;
    text-align: center; /* Centralizando o conteúdo dentro das células */
}

.lista:hover {
    background-color: #F4F6F4;
    transform: translateY(-4px);
}

.edit,
.delete {
    cursor: pointer;
    font-size: 1.4rem;
    transition: color 0.3s ease;
    padding: 5px;
}

.edit:hover {
    color: #3ea4e9;
}

.delete:hover {
    color: #A71D2A;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.btn1 .adicionar,
.btn2 .procurar {
    font-size: 1.6rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.btn1 .adicionar {
    background-color: #2c4375; 
    transition: all 0.3s ease;
}

.btn1 .adicionar:hover {
    transform: scale(1.1);
    background-color: #A71D2A; 
}

.btn2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn2 .procurar {
    background-color: #63B3ED;
    transition: all 0.3s ease;
}

.btn2 .procurar:hover {
    background-color: #3182CE; 
    transform: scale(1.1);
}

.btn2 input {
    font-size: 1rem;
    padding: 8px;
    border: 1px solid #CBD5E0;
    border-radius: 6px;
    outline: none;
    width: 250px;
    transition: border-color 0.3s ease;
}

.btn2 input:focus {
    border-color: #3182CE;
}